{% extends 'basee.html' %}

{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container-fluid">
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <div class="row mb-4">
    <div class="col text-right">
        <a href="{% url 'home' %}" class="btn btn-primary">Retour</a>
    </div>
  </div>
    <h1 class="h3 mb-0 text-gray-800">Liste des Liste des Unite D'enseignements</h1>
    <div class="row mb-4">
      <div class="col text-right">
          <a href="{% url 'ajouter_ue' %}" class="btn btn-primary">Ajouter</a>
      </div>
    </div>
  </div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Liste des Unite D'enseignements</h6>
    </div>

<div class="card-body">
    <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <tr>
                <th class="text-center">nom</th>
                <th class="text-center">matieres</th>
                <th class="text-center">credits</th>
                <th class="text-center">Action</th>
                
        </tr>
        {% for unitedenseignement in unitedenseignements %}
        <tr>
            <td class="text-center">{{ unitedenseignement.nom }}</td>
            <td class="text-center">
              {% for matiere in unitedenseignement.matiere.all %}
                {{ matiere.nom }}{% if not forloop.last %}, {% endif %}
              {% endfor %}
            </td>
            <td class="text-center">{{ unitedenseignement.credits }}</td>
            <td class="text-center">
                <a href="#">Détails</a> |
                <a href="{% url 'modifier_ue' unitedenseignement.pk %}">Modifier</a> |
                <a href="{% url 'supprimer_ue' unitedenseignement.pk %}" >Supprimer</a>
            </td>
            {% empty %}
                <tr>
                <td colspan="8" class="text-center">Aucun unite d'enseignement trouvé.</td>
                </tr>
        </tr>
        {% endfor %}
            </table>
        </div>
    </div>
</div>
</div>

{% comment %} #########################################################################################33 {% endcomment %}
{% comment %} 
<div class="modal fade" id="suppressionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        </div>
      <div class="modal-body">
        Voulez-vous vraiment supprimer l'étudiant {{ etudiant.nom }} ?
      </div>
      <div class="modal-footer">
        <form action="#" method="POST" id="delete-form">
          {% csrf_token %}
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
          <button class="btn btn-danger" type="submit">Supprimer</button>
        </form>
      </div>
    </div>
  </div>
</div> {% endcomment %}


{% comment %} ############################################################################################## {% endcomment %}


<script>
  window.setTimeout(function() {
    $(".alert").fadeTo(300, 0).slideUp(300, function(){
      $(this).remove(); 
    });
  }, 2000);
</script>


<script src="{% static 'gestion/dash/vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'gestion/dash/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'gestion/dash/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'gestion/dash/js/sb-admin-2.min.js' %}"></script>
<script src="{% static 'gestion/dash/vendor/datatables/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'gestion/dash/vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'gestion/dash/js/demo/datatables-demo.js' %}"></script>

<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap4.min.js"></script>
<script>
  $(document).ready(function() {
    $('#dataTable').DataTable({
      "language": {
        "url": "//cdn.datatables.net/plug-ins/1.13.1/i18n/French.json"
      }
    });
  });
</script>
{% endblock %} 
